<html>
    <head>
        <title>@LocalizeGlobal("This file is excluded")</title>
    </head>
    <body>
        <p>
            @LocalizeFormatted("This file is excluded and cannot be displayed")
        </p>
    </body>
</html>